DATABASE_URL="mysql://root:@localhost:3306/lab_db_new_2"

# Backend Keys
PUSHER_APP_ID="2086577"
PUSHER_SECRET="90d7a199c779d15f4b06"

# Frontend Keys
NEXT_PUBLIC_PUSHER_KEY="62dd03c1cd3147812c1b"
NEXT_PUBLIC_PUSHER_CLUSTER="ap1"